<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web> 
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms name=".FormsAuth" loginUrl="~/Login/Login.aspx" protection="All" slidingExpiration="false" requireSSL="false" />
    </authentication>
    <roleManager enabled="true"/>

    <siteMap>
      <providers>
        <add name="SiteMapCashier" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Cashier.sitemap" />
        <add name="SiteMapCust" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Customer.sitemap" />
        <add name="SiteMapManager" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Manager.sitemap" />
        <add name="SiteMapSupervisor" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Supervisor.sitemap" />

      </providers>
    </siteMap>
  </system.web>


  <!--Feedback-->

  <location path="Feedback">
    <system.web>
      <authorization>
        <allow roles="manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Feedback/Feedback.aspx">
    <system.web>
      <authorization>
        <allow roles="customer,manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Feedback/FeedHome.aspx">
    <system.web>
      <authorization>
        <allow roles="customer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Feedback/ViewFeedback.aspx">
    <system.web>
      <authorization>
        <allow roles="customer,manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <!--Delivery-->

  <location path="Delivery">
    <system.web>
      <authorization>
        <allow roles="manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Offline-->



  <location path="Order/offline">
    <system.web>
      <authorization>
        <allow roles="manager, cashier, supervisor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

 
  <!--online-->


  <location path="Order/online">
    <system.web>
      <authorization>
        <allow roles="customer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--Product-->


  <location path="Product">
    <system.web>
      <authorization>
        <allow roles="manager, supervisor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <!--Master Page-->


  <location path="Master">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Home">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--Login-->



  
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CWC.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CWCConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CWC.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>