
.style{
    float:left;
}

.form {
    padding-right:20%;
    padding-left:30%;
}

.formtop {

    padding-top:40px; 
}

.formdrop{
    padding-left:35%;
    padding-bottom:20px;

}



#addContent{
    margin-top:10px
}

.button{
    padding-left:83.79%;
}

.button1{

    padding-left:47.3%;

}
