.box{
  width:90%;
  max-width:300px;
  height:auto;
  margin: auto;
  margin-left:10%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color:#003399;
  border-radius:7px;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
  float:left;
}

.content{
  width:85%;
  height:auto;
  margin:0 auto;
  padding:20px 0px;
}

.content h1{
  font-size: 20px;
  font-weight:100;
  color:ghostwhite;
  letter-spacing:0.12em;
  text-align:center;
}

.btn{
  width:50%;
  margin:auto;
  padding:8px;
  background-color:#0099CC;
  border:none;
  box-shadow: 0px 1px 0px 0px #111;
  border-radius:3px;
  outline:none;
  color:black;
  font-weight:700;
  text-align:center;
  text-transform:uppercase;
}

.btn a{
    color:black;
}
 
.btn:hover{
  background-color:cornflowerblue;
  color:#333;
}
 
.btn:active{
  background:#0099CC;
  color:#333;
}

.homeContent{
    margin:auto;
    height:300px;
    width:900px;
}

.addOfflineContent{
    width:95%;
    margin:auto;
    margin-top:10px;
}

.addOfflineMainContent{
    min-height:350px;
}

#table_wrapper #tbody{
    width:100%; 
    height:280px; 
    overflow-y:scroll;
    border:1px solid black;
    border-top:none;
    padding-top:0px;
    margin-top:0px;
}

#table_wrapper #firstTable{
     border-collapse: collapse; border-spacing: 0;padding:0px;width:100%; 
}

#table_wrapper #secondTable{
    border-collapse: collapse; border-spacing: 0;padding:0px;width:100%;
}

.thirdTable{
     border-collapse: collapse; border-spacing: 0;padding:0px;width:100%;margin:0px; 
}

  /*set table header and cell width*/
  #table_wrapper td:first-child{width:10.2%;}
  #table_wrapper td:first-child + td{width:16.2%;}
  #table_wrapper td:first-child + td + td{width:20.4%;}
  #table_wrapper td:first-child + td + td + td{width:16.3%;}
  #table_wrapper td:first-child + td + td + td + td{width:16.3%;text-align:right;}
  #table_wrapper td:first-child + td + td + td + td + td{text-align:right;}

  #table_wrapper th:first-child{width:10%;} /* the same as td1 */
  #table_wrapper th:first-child + th{width:16%;} /* the same as td2 */
  #table_wrapper th:first-child + th + th{width:20%;}
  #table_wrapper th:first-child + th + th + th{width:16%;}
  #table_wrapper th:first-child + th + th + th + th{width:16%;}

  #totalAmount{
      float:right;
      margin-top:10px;
  }

  .txtTotal{
      text-align:right;
  }

  #buttonGroup{
      float:right;
      margin-top:10px;
      margin-bottom:10px;
  }

  #productImg{
      float:left;
  }

  #productContent{
      float:left;
  }

  .buttonAddItem{
      float:right;
      margin-top:20px
  }

  #paymentContent{
      float:left;
      margin-top:10px;
      margin-left:5px;
  }

  #shippingContent{
      float:left;
      margin-top:10px;
  }

  .leftTable{
      float:left;
      margin-right:10px;
      border-spacing:5px;
  }

  #searchCriteria .title{
      font-weight:bold;
  }

  #wholeTable{
      width:100%;
  }

  #searchPage{
      width:95%;
      margin:auto;
      margin-top:10px;
  }

  #searchButton{
      float:right;
  }

  #salesItemButton{
      margin-top:10px
  }

  #salesItemTitle{
      float:left;
      margin-left:10px
  }